/* You can add global styles to this file, and also import other style files */

/* Body, Heading elements, global fonts and colors, anchor, para, image, form elemets */

/* body {
    margin: 2rem !important;
} */


.btn:disabled, .btn.disabled {
    background-color: #e7e3d4;
    color: #2d3748;
    border: none;
}

.text-bolder {
    font-weight: 700;
}
.text-smallest {
    font-size: .7rem;
}
.red {
    color: #b23850;
}

a:hover {
    text-decoration: underline !important;
}

.text-bold{
    font-weight: 500;
}

.bg-primary{
    background-color: rgb(65 117 195) !important;
}